.fon{
  background-image: url(img/fon4.png);
  background-repeat: no-repeat;
  background-size: cover;
  

}

.arriba{
    background-color: rgb(0, 0, 0);
    height: 80px;
    display: flex;
    align-items: center;
    padding-right: 150px;
}

.texto{
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-left: auto;
  color: rgb(255, 255, 255);
  align-items: center;


}

.hola{
  color: rgb(0, 0, 0);
  background-color: rgb(34, 184, 131);
  border-radius: 100px;
  background-size: 30px;
  height: 60px;
  width: 120px;
    margin-left: auto;
}

.hola:hover{
  background-color: aquamarine;
}

.tex{

  max-width: 700px;    
  margin: 0 auto;       
  padding-top: 60px;
  text-align: left; 
  font-size: 20px; 
  align-items: center;
font-family: Georgia, 'Times New Roman', Times, serif;}
.link{
  color: rgb(6, 6, 6);
}

.textofondo {
    display: flex;
    align-items: center;
    background-color: #fffefe; 
    border-radius: 50px; 
    padding: 8px 15px;
    width: 400px; 
    max-width: 100%;
}

.bo1{
 border-radius: 100px;
 height: 50px;
 width: 420px;
 background-image: url(img/botonesw.png);

}