.fondo{
  background-image: url(img/es2.jpg.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.arriba{
    background-color: rgb(0, 0, 0);
    height: 80px;
    display: flex;
    align-items: center;
    padding-right: 150px;
}

.texto{
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-left: auto;
  color: rgb(255, 255, 255);

}
.texto1{
font-size: 40px;
    color: aliceblue;
    background-size: 100px;
    text-align: center
    
}
.im{
    cursor: pointer;
 display: block;
  margin: 0 auto;
}

.al{
    text-align: center;

}

.te{
    color: aliceblue;
}