.fondo{
  background-image: url(img/fon3.jpg.png);
  background-repeat: no-repeat;
  background-size: cover;

}

.arriba{
    background-color: rgb(0, 0, 0);
    height: 80px;
    display: flex;
    align-items: center;
    padding-right: 150px;
}

.texto{
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-left: auto;
  color: rgb(255, 255, 255);

}



.texto:hover{
    color: rgb(36, 181, 45);

}

.img{
        margin-left: auto;


}
.con {
  display: flex;       
  align-items: center;
  padding: 40px;
}

.contenido {
  flex: 1;   
}

.imagen {
  flex: 1;             
  display: flex;
  justify-content: center;
}

.imagen img {
  max-width: 100%;
  height: auto;
}

.h1{
color: aliceblue;
font-size: 60px;

}
.p{
    color: aliceblue;
}

.bo{
    color: black;
    background-color: rgb(112, 147, 223);
    border-radius: 20px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}
.bu{
    color: rgb(250, 248, 248);
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    border-color: aliceblue;
}